.pgqrd_center
{
	width: 100%;
	background: #FFF;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.become_wrap
{
	margin: 40px auto;
	width: 1280px;
}
.beTitle
{
	margin: auto;
	width: 597px;
	height: 42px;
}
.twoTitle
{
	width: 600px;
	height: 40px;
	background: #69cffa;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 24px;
	margin: 25px auto 25px;
}
.clearfix
{
	height: 190px;
	list-style: none;
	zoom: 1;
}
.clearfix li{
	float: left;
	margin-right: 25px;
	cursor: pointer;
}
.clearfix li p{
	width: 120px;
	height: 115px;
	background: #69cffa;
	border-radius: 50px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	padding-top: 25px;
	line-height: 35px;
	margin-bottom: 6px;
}
.clearfix li .be1{
	background:#498bfc;
}
.clearfix li .be2{
	background:#69cffa;
}
.clearfix li .be3{
	background:#ff8040;
}
.clearfix li .be4{
	background:#f54e91;
}
.become ul li .be5{
	background:#13a79d;
}
.clearfix li .be6{
	background:#27a9f4;
}
.clearfix li .be7{
	background:#fcae14;
}
.clearfix li .be8{
	background:#ff8040;
}
.clearfix li b{
	display: block;
	width: 51px;
	height: 51px;
	background: url(./../images/gqrd/twosj.png) center no-repeat;
	margin: 14px auto;
	display: none;
}
.clearfix li.hover p{
	box-shadow: 1px 1px 10px #a1e0fa;
}
.become_wrap ol{
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;


}
.become_wrap ol li{
	width: 1180px;
	height: 300px;
	padding: 40px 0;
	background: #f0fafe;
	display: none;
	margin: 0 auto;
}
.become_wrap ol li p.number {
	float: left;
	width: 135px;
	margin-left: 10px;
}
.become_wrap ol li p
{
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: #666666;
	font-size: 16px;
	line-height: 30px;
}
.become_wrap ol li div {
	width: 1010px;
	float: left;
	margin-left: 20px;
}
h5{
	display: block;
	font-size: 0.83em;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.become_wrap ol li h5{
	font-size: 24px;
	color: #69cffa;
	margin-bottom: 20px;
	margin-top: 10px;
}


/*dsds*/



.gxrd_hc_title
{
	margin: auto;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	height: 110px;
	line-height: 110px;
}
.gxrd_hc_title span{
	color: #c40000;
	font-size: 42px;
}
.gxrd_hc_content
{
	margin: 20px auto;
	width: 1180px;
	height: 470px;

}
.hc_content
{
	float: left;
	width: 20%;
	text-align: center;
	margin: 10 auto;
}
.hc_img
{
	width: 100%;
	text-align: center;
}
.hc_text span
{
	display: block;
	text-align: center;
	margin: 10px auto;
}
.hc_text .hc_t1
{
	font-size: 18px;
}
.hc_text .hc_t2
{
	font-size: 14px;
}
.gbrd_fw
{
	width: 1180px;
	margin: 20px auto;
}
.gbrd_fw_content
{
	border: 3px solid #0676b6;
	height: 347px;
}
.pg_j_hc,.pg_j_fy,.pg_j_xy,.pg_j_lc,.pg_j_al
{
	text-align: center;
	margin:50px auto;
}
.pg_j_hc_content,.pg_j_lc_content,.pg_j_al_conenet
{
	width: 1200px;
	margin: 0 auto;
}


.pg_j_title1
{
	font-size: 28px;
	line-height: 1em;
	padding-bottom: 13px;
	color: #666;
}
.pg_j_title2
{
	font-size: 16px;
	line-height: 1.5em;
	color: #999;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 10px;
}
.hr
{
	width: 50px;
	height: 3px;
	background-color: #A80000;
	margin: 0 auto;
}

.pg_j_xy_table table,  .pg_j_xy_table  td
{
	border:1px solid #fff;
	color: #666666;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;  
	font-size: 15px;
	padding-right: 20px;
	line-height: 28px;
	border-collapse: collapse;
}
.pg_j_xy_table>table
{
	width: 1200px;
	margin: 20px auto;
	background: #ddd;
	text-align: left;
	margin-bottom: 50px; 

}

.td_1
{
	width: 20px;
	background: #00AEF3;
	/*border-top-left-radius:5px;*/
	/*border-bottom-left-radius:5px;*/
	color: #FFF;
	line-height: 32px;

}
.td_2
{
	text-align: center;
	width: 130px;
}

.gxrd_gjzd_content
{
	width: 1200px;
	margin: 20px auto;
}
.gxrd_gjzd_table>table
{
	height: 288px;
	width: 100%;
	border-collapse: collapse;

}
.gxrd_gjzd_table>td
{
	width: 25%;
	height: 144px;
}
.gxrd_gjzd_table .td_b
{
	border-bottom: 1px solid #eee;
}
.gxrd_gjzd_table .td_r
{
	border-right: 1px solid #eee;
}
.gxrd_gjzd_table .td_img
{
	float: left;
	width: 40%;
	height: 100%;
	margin: auto;
	text-align: center;
}
.gxrd_gjzd_table .td_img img
{
	padding-top:50px; 
}
.gxrd_gjzd_table .td_text
{
	float: left;
	width: 60%;
	text-align: left;
}
.gxrd_gjzd_table .td_text .t1
{
	font-size: 20px;
    color: #333;
    line-height: 48px;
    display: block;
    margin-top:10px;
}
.gxrd_gjzd_table .td_text .t2
{
	font-size: 14px;
    color: #555;
    line-height: 19px;
}
.gxrd_sblc_content
{
	width: 1200px;
	background:url(./../images/gqrd/sblc.png) no-repeat;
	margin: 20px auto;
	height: 416.64px;
}
.pg_j_lc_img
{
	margin: 20px auto;
	text-align: center;
}
.pg_j_hc_img_bg
{
	height: 727px;
	width: 1198px;
	background:url(./../images/gqrd/jjkc/hc_bg.png) no-repeat;
}
.pg_j_hc_p1
{
	width: 100%;
	text-align: center;
	font-size: 24px;
    color: #4d4d4d;
    padding-top:340px; 
}
.pg_j_hc_p2
{
	font-size: 24px;
    color: #4d4d4d;
    padding-left: 160px;
    text-align: left;
    margin: 0;
}
.pg_j_hc_p3
{
	color: #6e6e6e;
    font-size: 20px;
    line-height: 28px;
    padding-left: 160px;
    padding-top: 14px;
    text-align: left;
    margin: 0;
}
.pg_j_hc_p3 span
{
	color: red;
}

.pg_j_hc_p4
{
	color: #fff;
    font-size: 20px;
    line-height: 35px;
    padding-left: 160px;
    padding-top: 35px;
    text-align: left;
    margin: 0;
}
.pg_j_hc_p4 span
{
	font-weight: bold;
}
.pg_j_hc_p5
{
	color: #b4b4b4;
    font-size: 20px;
    line-height: 28px;
    padding-left: 160px;
    padding-top: 33px;
    margin: 0;
    text-align: left;
}
.pg_j_al_img_bg
{
	height: 450px;
	margin: 10px auto;
	background:url(./../images/gqrd/jjkc/al_bg.png) no-repeat;
}
.pg_j_al_p1
{
	font-size: 24px;
    color: #222;
    line-height: 40px;
    padding-left: 555px;
    text-align: left;
    padding-top: 120px;
}
.pg_j_al_p1 span
{
	font-weight: bold;
}
.pg_j_al_p2
{
	font-size: 18px;
    color: #777;
    line-height: 30px;
    padding-left: 555px;
    padding-top: 30px;
    text-align: left;
}

.gxrd_select
{
	width: 1200px;
	margin: 0 auto;
}
.s_l_img
{
	display: inline-block;
	float: left;
	width: 600px;
}
.s_l_img img
{
	width: 90%;
}
.s_r_img
{
	display: inline-block;
	float: right;
	margin-top:100px;
}