body{
	margin: 0px 0px;
	min-width: 1280px;
	font-family: "微软雅黑";
}
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.head
{
	height: 192px;
	
	margin: auto;
}
.head_top
{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background: #F3F3F3;
}
.head_top_center
{
	width: 1200px;
	margin: auto;
}
.head_top_msg
{
	float: left;
	text-align: center;
	width: 420px;
	color: #999;
}
.head_top_icon
{
	float: right;
}

.head_logo
{
	height: 60px;
	width: 1200px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.head_logo_text
{
	float: left;
}
.head_logo_phone
{
	float: right;
	
	line-height: 60px;
	height: 60px;
}
.head_logo_phone img
{
	vertical-align: middle;
}
.head_logo_phone span
{
	font-size: 16px;
	color: #666;
	margin-left:7px; 
	
}
.head_logo_phone i
{
	font-size: 20px;
	color: #A80000;
	font-style: normal; 
}
.head_item
{
	margin: auto;
	border-top: 1px solid #ddd;
	height: 60px;
	clear: both;
	text-align: center;
	width: 1200px;

}
.dropdown {
	position: relative;
	display: inline-block;
	margin:auto;
	height: 60px;
	margin-right: 10px; 
}
.dropdown span
{
	height: 60px;
	line-height: 60px;
	padding: 20px;
	color: #666;
	font-size: 16px; 
	padding-left: 42px;
	padding-right: 42px;  
}
.dropdown:hover span
{
	background-color: #A80000;
	color: #fff;
	cursor: pointer;
}
.dropdown-content {
	opacity:0;
	position: absolute;
	background-color: #f9f9f9;
	margin-left: 0%;
	width: 80%; 
	margin-top:-50px;
    -webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
    visibility: hidden;
}



.dropdown:hover .dropdown-content {

	opacity:1;
	margin-top:1px; 
	margin-left: 10%;
    visibility: visible;
    
}
.dropdown-content p
{
	margin: 0px;
	padding: 0px;
	height: 40px;
	line-height: 40px;
	font-size: 14px; 
	color: #666;
	border-bottom: 1px solid #eee;
}
.dropdown-content p:hover
{
	color:  #A80000;
	cursor: pointer;
}
.box
{
	width: 1200px;
	height: 120px;
	margin:auto;
	margin-top:0px; 
}

.box ul
{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 120px;
	background: #FFF;
}
.box li
{
	list-style: none;
	width: 20%;
	float: left;
	height: 120px;
	transition: .5s;
	position: relative;
	top: 3px;
}
.box li:hover
{
	top: 0px;
	box-shadow:3px 3px 3px #666;
	transition: .5s;
	cursor: pointer;
}
a{
	text-decoration: none;
}
.box li img
{
	border: none;
	float: left;
	height: 80px;
	margin-left: 5px; 
	margin-top: 20px; 
}
.box li .box_text{
	float: left;
	padding-top: 40px;
	padding-left: 15px;
}
.box_text span
{
	font-size: 14px;
	color: #0b2642;
	display: block;
	font-weight: bold;
}

#title_img
{
	width: 400%;
	overflow: hidden;
	
}
#t_img
{
	width: 100%;
	overflow: hidden;
	height: 400px;
}
.img_circle
{
	width: 120px;
	margin: auto;
	position: relative;
	top: -50px; 
	z-index: 1000;
	height: 25px;
}
.img_n
{
	width: 25%;
	height: 400px;
	float: left;
}
.img_c
{
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 10px;
	float: left; 
	border-radius: 10px; 
	border: 2px solid #ffffff;
	background-color:rgba(0,,0,0~1);
	pointer-events:auto;
}
.img_c:hover
{
	/*cursor: pointer;*/
}
.img_c_select
{
	background: #FFFFFF;
}


.gqrd
{

}
.gqrd_center
{
	width: 1200px;
	margin: auto;

}
.title1{
	font-size: 24px;
    color: #333333;
    font-weight: bold;
    text-align: left;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;  
}
.title1 span
{

}
.gqrd_left{
	height: 360px;
	width: 320px;
	position: relative;
	float: left;
	margin-right: 20px; 
	margin-bottom: 20px;
}
.gqrd_item
{
	position: absolute;
	height: 100%;
	width: 100%;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.14);
	-webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
    top:0px;
    cursor: pointer;
}
.gb1/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd01.png) no-repeat right bottom #fff;
}
.gb4
{
	background:url(./../images/home/gqrd04.png) no-repeat;
}

.gqrd_item:hover
{
	top:-10px;
}
.gqrd_right{
	height: 360px;
	width: 860px;
	float: left;
}
.gqrd_right_item1
{
	float: left;
	position: relative;
	margin-right: 20px;
	height: 170px;
	width: 300px;
	margin-bottom: 20px;

}
.gqrd_right_item2
{
	float: left;
	position: relative;
	height: 170px;
	width: 220px;
	margin-bottom: 20px;


}
.gqrd_item_s1{
	font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
    font-weight: bold;
    display: block;
    margin-left: 30px;
    margin-top: 20px;
}
.gqrd_item_s2
{
	font-size: 14px;
    color: #999999;
    line-height: 24px;
    margin-top: 14px;
    display: block;
    margin-left: 30px;
}

.gqrd_item_s3{
	width: 100%;
	height: 36px;
	position: absolute;
	bottom: 0px;
	line-height: 36px;
	padding-left: 10px; 
	background-color:rgba(128,128,128,0.5);
	/*z-index: 1000;*/
	color: #fff;
}
.gqrd_item_button{
	margin-left: 30px;
	font-size: 14px;
    color: #999;
    display: block;
    line-height: 30px;
    margin-top: 15px;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.gqrd_item_button:hover
{
	color: #A80000;
	border: 1px solid #A80000;

}