body{
	margin: 0px 0px;
	min-width: 1280px;
	font-family: "微软雅黑";
	background: #fff;
}
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a
{
	outline: none;
    text-decoration: none;
}
.head
{
	height: 192px;
	
	margin: auto;
}
.head_top
{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background: #f5f5f5;
}
.head_top_center
{
	width: 1200px;
	margin: auto;
}
.head_top_msg
{
	float: left;
	text-align: center;
	width: 420px;
	color: #666;
}
.head_top_icon
{
	float: right;
}

.head_logo
{
	height: 60px;
	width: 1200px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.head_logo_text
{
	float: left;
}
.head_logo_phone
{
	float: right;
	
	line-height: 60px;
	height: 60px;
}
.head_logo_phone img
{
	vertical-align: middle;
}
.head_logo_phone span
{
	font-size: 16px;
	color: #666;
	margin-left:7px; 
	
}
.head_logo_phone i
{
	font-size: 20px;
	color: #A80000;
	font-style: normal; 
}
.head_item
{
	margin: auto;
	/*border-top: 1px solid #ddd;*/
	background: #55a63c;
	color:#FFF;
	height: 61px;
	clear: both;
	text-align: center;
	/*width: 1200px;*/


}
.dropdown {
	position: relative;
	display: inline-block;
	margin:auto;
	height: 61px;
	margin-right: 10px; 
}
.dropdown span
{
	/*height: 60px;*/
	line-height: 59px;
	padding: 20px;
	color: #fff;
	font-size: 16px; 
	padding-left: 42px;
	padding-right: 42px;  
}
.d_select span
{
	background-color: #388221;
	color: #FFF;
}
.dropdown a{
	height: 60px;
	border: 0px;
}

.dropdown:hover span
{
	background-color: #388221;
	color: #fff;
	cursor: pointer;
}
.dropdown-content {
	opacity:0;
	position: absolute;
	background-color: #f9f9f9;
	margin-left: 0%;
	width: 80%; 
	margin-top:-50px;
    -webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
    visibility: hidden;
}



.dropdown:hover .dropdown-content {

	opacity:1;
	margin-top:1px; 
	margin-left: 10%;
    visibility: visible;
    
}
.dropdown-content p
{
	margin: 0px;
	padding: 0px;
	height: 40px;
	line-height: 40px;
	font-size: 14px; 
	color: #666;
	border-bottom: 1px solid #eee;
}
.dropdown-content p.dc_select_p
{
	color:  #388221;
	cursor: pointer;
}
.dropdown-content p:hover
{
	color:  #388221;
	cursor: pointer;
}
.box
{
	width: 1200px;
	height: 120px;
	margin:auto;
	margin-top:0px;
	background: #fff;
}

.box ul
{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 120px;
	/*background: #FFF;*/
}
.box li
{
	list-style: none;
	width: 20%;
	float: left;
	height: 120px;
	transition: .5s;
	position: relative;
	top: 3px;
}
.box li:hover
{
	top: 0px;
	box-shadow:3px 3px 3px #666;
	transition: .5s;
	cursor: pointer;
}
a{
	text-decoration: none;
}
.box li img
{
	border: none;
	float: left;
	height: 80px;
	margin-left: 5px; 
	margin-top: 20px; 
}
.box li .box_text{
	float: left;
	padding-top: 40px;
	padding-left: 15px;
}
.box_text span
{
	font-size: 14px;
	color: #0b2642;
	display: block;
	font-weight: bold;
}

#title_img
{
	width: 400%;
	overflow: hidden;
	
}
#t_img
{
	width: 100%;
	overflow: hidden;
	height: 400px;
}
#p_img
{
	width: 100%;
	overflow: hidden;
	height: 400px;

}
.img_circle
{
	width: 120px;
	margin: auto;
	position: relative;
	top: -50px; 
	z-index: 1000;
	height: 25px;
}
.img_n
{
	width: 25%;
	height: 400px;
	float: left;
}
.img_c
{
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 10px;
	float: left; 
	border-radius: 10px; 
	border: 2px solid #ffffff;
	background-color:rgba(0,,0,0~1);
	pointer-events:auto;
}
.img_c:hover
{
	/*cursor: pointer;*/
}
.img_c_select
{
	background: #FFFFFF;
}


.gqrd
{
	height: 370px;
}
.gqrd_center
{
	width: 1200px;
	margin: auto;
	height: 100%;

}
.title1{
	font-size: 24px;
    color: #333333;
    font-weight: bold;
    text-align: left;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;  
    width: 1200px;
}
.title1 span
{

}
.gqrd_left{
	height: 360px;
	width: 320px;
	position: relative;
	float: left;
	margin-right: 20px; 
	margin-bottom: 20px;
}
.gqrd_item
{
	position: absolute;
	height: 100%;
	width: 100%;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.14);
	-webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
    top:0px;
    cursor: pointer;
    background: #FFF;
}
.gb1/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd01.png) no-repeat right bottom #fff;
}
.gb2/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd02.png) no-repeat right bottom #fff;
}
.gb3/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd03.png) no-repeat right bottom #fff;
}
.gb4
{
	background:url(./../images/home/gqrd04.png) no-repeat;
}
.gb5/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd05.png) no-repeat right bottom #fff;
}
.gb6/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd06.png) no-repeat right bottom #fff;
}
.gb7/* "主页-高新认定-背景1 "*/
{
	background:url(./../images/home/gqrd07.png) no-repeat ;
}

.gqrd_item:hover
{
	top:-10px;
}
.gqrd_right{
	height: 360px;
	width: 860px;
	float: left;
}
.gqrd_right_item1
{
	float: left;
	position: relative;
	margin-right: 20px;
	height: 170px;
	width: 300px;
	margin-bottom: 20px;

}
.gqrd_right_item2
{
	float: left;
	position: relative;
	height: 170px;
	width: 220px;
	margin-bottom: 20px;


}
.gqrd_item_s1{
	font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
    font-weight: bold;
    display: block;
    margin-left: 30px;
    margin-top: 20px;
}
.gqrd_item_s2
{
	font-size: 14px;
    color: #999999;
    line-height: 24px;
    margin-top: 14px;
    display: block;
    margin-left: 30px;
}

.gqrd_item_s3{
	width: 100%;
	height: 36px;
	position: absolute;
	bottom: 0px;
	line-height: 36px;
	padding-left: 10px; 
	background-color:rgba(128,128,128,0.5);
	/*z-index: 1000;*/
	color: #fff;
	text-align: center;
}
.gqrd_item_button{
	margin-left: 30px;
	font-size: 14px;
    color: #999;
    display: block;
    line-height: 30px;
    margin-top: 15px;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.gqrd_item_button:hover
{
	color: #A80000;
	border: 1px solid #A80000;

}
.h_srrd
{
	clear: both;
	height: 320px;
}
.h_srrd_center,.h_zscq_center
{
	width: 1200px;
	margin:auto;
	height: 100%;
}
.h_zscq
{
	clear: both;
	height: 301px;
	clear: both;
	/*margin-top:20px; */
	/*margin-bottom: 20px;*/
	padding-bottom: 20px; 
}
.h_zscq_item
{
	height: 100%;
	float: left;
	background: #FFF;
	margin-right: 10px; 
	width: 232px; 
	transition: .3s;
	text-align: center;
}

.h_zscq_i_s_h
{
	color: #fff;
    display: none;
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    height: 32px;
    margin-top:100px;
}
.h_zscq_i_s{
	margin-top: 170px;
	height: 111px;
    text-align: center;
    line-height: 111px;
    font-size: 14px;
    color: #394044;
    display: block;
}
.h_zscq_i_b_h
{
	margin: auto;
	font-size: 14px;
    color: #FFF;
    display: none;
    line-height: 32px;
    margin-top: 30px;
    height: 32px;
    width: 98px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFF;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.h_zscq_i_i1
{
	background: url(./../images/home/zscq_item_1.jpg) no-repeat top left #FFF ;
}
.h_zscq_i_i2
{
	background: url(./../images/home/zscq_item_2.jpg) no-repeat top left #FFF ;
}
.h_zscq_i_i3
{
	background: url(./../images/home/zscq_item_3.jpg) no-repeat top left #FFF ;
}
.h_zscq_i_i4
{
	background: url(./../images/home/zscq_item_4.jpg) no-repeat top left #FFF ;
}
.h_zscq_i_i5
{
	background: url(./../images/home/zscq_item_5.jpg) no-repeat top left #FFF ;
}

.h_zscq_item:hover
{
	transition: .3s;
	background: url(./../images/home/zscq_item_bg.jpg) no-repeat;
}
.h_zscq_item:hover .h_zscq_i_s_h
{
	display: block;
	transition: .3s;
}
.h_zscq_item:hover .h_zscq_i_b_h
{
	display: block;
	transition: .3s;
}
.h_zscq_item:hover .h_zscq_i_s
{
	display: none;
}
.h_zscq_i_b_h:hover
{
	border: 1px solid #A80000;
	color: #A80000;
}


.h_srrd_item
{
	height: 100%;
	margin-right: 20px;
	width: 590px;
	background: #F3F3F3;
	float: left;
	transition: .5s;
	padding-top: 40px;
}
.h_srrd_item:hover
{
	transition: .5s;
	background: #CCC;
	/*box-shadow:3px 3px 3px #FFF;
	margin-top:-5px; */
}
.h_srrd_item:hover span
{
	transition: .5s;
	color: #FFF;
}
.h_srrd_item:hover p
{
	transition: .5s;
	color: #FFF;
}
.h_srrd_item img
{
	margin-left: 20px;
	float: left;
	display: block; 
}
.h_srrd_item_d
{
	float: left;
	margin-left: 20px;
	width: 380px;
}
.h_srrd_item_d span
{
	display: block;
	font-size: 18px;
    margin-bottom: 10px;
    color: #394044;
    margin-left: 30px;
    display: block;
}
.h_srrd_item_d p{
	margin: 0;
	padding:0;
	font-size: 16px;
    color: #2a2828;
    line-height: 30px;
}
.h_srrd_item_d a
{
	margin: auto;
	font-size: 14px;
    color: #A80000;
    display: block;
    line-height: 32px;
    margin-top: 30px;
    height: 32px;
    width: 98px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #A80000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.h_srrd_item_d a:hover
{
	background: #A80000;
	color:#FFF;
}

.hzys
{
	background: #F3F3F3;
	clear: both;
	height: 360px;
}
.hzys_center
{
	width: 1200px;
	margin: auto;
	height: 100%;
}
.hzys_content
{
	padding-top:20px;
	padding-bottom: 20px;
	height: 360px;  
}
.hzys_item
{
	height: 310px;
	float: left;
	width: 224px;
	/*background: #FFF;*/
	margin-right: 20px; 
	text-align: center;
}

.hzys_item p
{
	color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding:0;
}


.h_bc1/* 合作优势item 背景色*/
{
	background: #00cc99;
}
.h_bc2
{
	background: #1088d5;
}
.h_bc3
{
	background: #f05a25;
}
.h_bc4
{
	background: #10be51;
}
.h_bc5
{
	background: #02cfc8;
}


.hzys_item_img
{
	background: url(./../images/home/hzys_c.png);
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin: 40px auto 20px;
    -webkit-transition: all .8s;
    transition: all .8s;
}
.hzys_item_img img
{
	vertical-align: middle;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.hzys_item:hover .hzys_item_img{
	-webkit-animation: zoomIn 1s 0s ease both;
    animation: zoomIn 1s 0s ease both;
}
.h_hzlc
{
	clear: both;
	background: #FFF;
	height: 448px;
}
.h_hzlc_center
{
	
	text-align: center;
	width: 1200px;
	
	margin: auto;
}

.h_hzlc_center img
{
	margin-top:40px;
	vertical-align: middle;
}

.fotter
{
	clear: both;
	margin-top: 50px;
}

.fotter_top
{
	height: 150px;
	background: #f3f3f3;

}
.fotter_top_center
{
	margin: auto;
	width: 1200px;
	height: 100%;
	background:  url(./../images/home/fotter_tc.png) no-repeat;
}
.fotter_top_item
{
	float: left;
	width: 300px;
	height: 100%;

}
.fotter_top_item span
{
	margin-left:130px;  
	display: block;
}
.f_span1
{
	margin-top: 40px;
	color: #050303;
    font-size: 20px;
    font-weight: 600
}
.f_span2,.f_span3
{
	color: #484444;
    font-size: 14px;
    margin-top: 3px;
}

.fotter_bottom{
	height: 160px;
	background: #030000;
	width: 100%;
	clear: both;
	padding-top: 40px;
}

.fotter_b_s1,.fotter_b_s2,.fotter_b_s3
{
	margin: 5px auto;
	text-align: center;
	font-size:14px;
	color: #AAA;

}
.rmxmtj
{
	height: 240px;
}
.rmxmtj_center
{
	margin: auto;
	width: 1200px;
	clear: both;
}
.rmxmtj_item
{
	
	height: 240px;
	width: 285px;
	margin-right: 20px;
	background: #FFF; 
	float: left;
	box-shadow:3px 3px 3px #eee;
	transition: .3s;
	margin-top: 0px; 

}
.rmxmtj_item div
{
	width: 138px;
	height: 100px;
	margin:auto;
	margin-top:20px;
}
.rmxmtj_item span
{
	margin: auto;
	font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    width: 100%;
    display: block;

}
.rmxmtj_item a
{
	margin: auto;
	font-size: 14px;
    color: #A80000;
    display: block;
    line-height: 32px;
    margin-top: 10px;
    height: 32px;
    width: 98px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #A80000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.rmxmtj_item a:hover
{
	color: #FFF;
	background: #A80000;
	border: 1px solid #A80000;

}
.h_r_btc1
{
	border-top: 3px solid #00cc99;
}
.h_r_btc2
{
	border-top: 3px solid #1088d5;
}
.h_r_btc3
{
	border-top: 3px solid #f05a25;
	
}
.h_r_btc4
{
	border-top: 3px solid #10be51;
}
.h_r_btc1 div
{
	background:  url(./../images/home/rmxmtj01.png) no-repeat;
}
.h_r_btc2 div
{
	background:  url(./../images/home/rmxmtj02.png) no-repeat;
}
.h_r_btc3 div
{
	background:  url(./../images/home/rmxmtj03.png) no-repeat;
}
.h_r_btc4 div
{
	background:  url(./../images/home/rmxmtj01.png) no-repeat;
}
.h_r_btc1 span
{
	color: #00cc99;
}
.h_r_btc2 span
{
	color: #1088d5;
}
.h_r_btc3 span
{
	color: #f05a25;
}
.h_r_btc4 span
{
	color: #10be51;
}



.rmxmtj_item:hover
{
	margin-top:-10px; 
	transition: .3s;
	box-shadow:3px 3px 3px #AAA;
}

.mid
{
	display: none;
}





.cj_quest
{
	width:1200px;
	margin: 20px auto;
	clear: both;
	background: #f3f3f3;
	padding: 20px 50px;
	box-shadow:3px 3px 3px #AAA;
	border-radius: 10px; 
}
.cj_quest_title
{
	text-align: left;
}
.cj_quest_title span
{
	font-size: 24px;
}
.cj_quest_q
{
	margin: 20px auto;
}
.cj_quest_a
{
	margin: 10px auto;
	line-height: 36px;
}
.cj_quest_q span
{
	font-size: 18px;
	color: #FF0000;
	
}
.cj_quest_a span
{
	font-size: 16px;
}







.mr0
{
	margin-right: 0px; 
}


.h_zscq_item0
{
	float: left;
	/*position: absolute;*/
	width: 492px;
	height: 314px;
	margin-left:5px; 
	box-shadow: 0px 3px 15px rgba(0,0,0,0.14);
	-webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
     cursor: pointer;
    background: #FFF;
}
.h_zscq_item0:hover
{
	margin-top:-10px;
}

.h_zscq_item0 h3
{
	font-size 24px;
	color:#0d0d0d;
	padding-left: 90px;
	margin-left: 95px;
	line-height: 90px;
	background: url(./../images/home/zscq_00.jpg) no-repeat left center;
}
.h_zscq_item0 p{
	display: block;
	margin-left: 90px;
	line-height: 30px; 
}
.h_zscq_item0 a{
	margin: auto;
    font-size: 14px;
    color: #A80000;
    display: block;
    line-height: 32px;
    margin-top: 30px;
    height: 32px;
    width: 98px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #A80000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.h_zscq_item0 .h3_item1_bg
{
	background: url(./../images/home/zscq_01.jpg) no-repeat left center;
}
.h_box
{
	height: 130px;
    width: 100%;
    background: #00c1de;
}
.h_box p {
    text-align: center;
    color: #fff;
    line-height: 130px;
    font-size: 24px;
}
.hnews
{
	/*background: #F3F3F3;*/
	clear: both;
	height: 450px;
}
.hnews_center
{
	width: 1200px;
	margin: auto;
	height: 100%;
}
.hnews_content
{
	padding-top:20px;
	padding-bottom: 20px;
	height: 360px;  
}
.hnews_left
{
	width: 540px;
	float: left;
}
.hnews_left h2
{
	font-size: 18px;
	/*padding: 30px 0 20px;*/
	color:#424249;
	line-height: 20px;
}
.hnews_left h2 i
{
	color: #da251d;
	vertical-align: middle;
	font-style: normal;
}
.hnews_left h2 a
{
	width: 470px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	color: #333333;
}
.hnews_left p
{
	color: #999;
	font-size: 14px;
	line-height: 24px;
}
.hnews_right
{
	float: right;

}
.hnews_right_item
{
	margin-bottom: 40px; 
	margin-top:0px;
	height: 100px;
}
.hnews_right_item .item_num
{
	float: left;
    font-size: 72px;
    border-right: 1px solid #424249;
    color: #424249;
    padding-right: 8px;
    display: inline-block;
    width: 85px;
}
.item_content
{
	display: inline-block;
	width: 450px;
	margin-left: 20px;
}
.item_content h2
{
	margin-top:0px;
}
.item_content h2 a
{
	
	color: #da251d;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}
.item_content p
{
	font-size: 12px;
    line-height: 24px;
    color: #999;
    /*width:300px;*/
    /*margin-left: 100px;*/
}