ul,li
{
	list-style: none;
}
.pxwzx_center
{
	margin: auto;
	width: 1200px;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px; 
}
.pxwzx_t_left
{
	float: left;
	width: 15%;
	background-color: #eaeaea; 
	color: #666666;
}
.pxwzx_t_left li
{
	width: 100%;
}

.pxwzx_t_right
{
	width: 85%;
	padding: 0px 20px; 
	min-height: 300px;
	float: left;
}
.pxwzx_t_left ul
{
	padding: 0;
	margin:0;
}
.pxwzx_t_nav
{
	border-style: solid dashed dashed;
	border-color: #FFF transparent transparent;
	border-width: 8px;
	border-top-color: rgba(102,102,102,0.7); 
	/*margin-top:20px; */
	top: 7px;
	display: inline-block;
	position: relative;
	 -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

.pxwzx_t_li1
{
	font-size: 18px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	margin:0px;
	padding: 0px;
	position: relative;
}
.pxwzx_t_ul2
{
	width: 100%;
}

.pxwzx_t_ul2 li
{
	font-size: 16px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	width: 100%;
	margin:0px 0px;
	padding: 0px 0px;
	padding-left: 0px; 
	/*margin-left: 36px; */

}

.pxwzx_t_ul2 li a
{

	/*padding: 0 20px; */
	padding-right: 40px; 

}

.pxwzx_t_ul2 a:hover
{
	/*color: #A80000;*/
	color: #444;
}

.pxwzx_t_li1 ul
{
	display: none;
	/*visibility: hidden;
	opacity: 0;*/
	margin:0px;
	padding: 0px;
	 -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}


.pxwzx_t_left a
{
	text-decoration: none;
	outline: none;
	color: #666;
	list-style: none;
	height: 60px;
	line-height: 60px;
	width: 100%;
	display: block;
	user-select: none;
	padding: 0 10px; 
	/*border-bottom: 1px solid #fff; */
}
.pxwzx_t_li1>a:hover
{
	background-color: #CCCCCC80; 
	/*background-color: #A80000;*/
	/*color: #FFF;*/
}
.pxwzx_t_li1_o ul
{
	display: block;
	/*visibility: visible;
	opacity: 1;*/
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
    background-color: #AAAAAA80;
}
.pxwzx_t_li1_o>a .pxwzx_t_nav
{
	top: -3px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #666666B2;
}
/*.pxwzx_t_li1_o>a
{
	background-color: #aaaaaa80; 
	color: #444;
}*/

.pxwzx_t_bar
{
	position: relative;
	float: left;
	height: 0px;
	opacity: 0;
	/*top: -40px;*/
	margin-top:120px; 
	width: 0px;
	background-color: #A80000; 
	z-index: 1000;
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

.pxwzx_t_li1:hover .pxwzx_t_bar
{
	
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;

}
.pxwzx_t_li2_click
{
	background: #A80000;
	color: #FFF;
}
.pxwzx_t_li2_click a
{
	color: #FFF;
}
.pxwzx_t_li2_click a:hover
{
	color: #FFF;
}

.pxwzx_t_r_title
{
	border-bottom: 1px dotted #aaa;
	text-align: center;
}

.pxwzx_t_r_title span
{
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	color: #222;
	line-height: 65px;
	margin-bottom: 18px;
	width: 100%;
}
.pxwzx_t_r_content p
{
	line-height: 1.5em;
	font-size: 16px;
	text-align: left;
	color: #666;
	margin: 5px 0; 

}
.pxwzx_t_r_cp2 
{
	text-indent: 32px;
}

.pnews_center
{
	margin-bottom: 35px;
	
	width: 1200px;
	margin: auto;
	
}
.pnews_left
{
	width: 270px;
    padding: 35px 0 65px;
    float: left;
}
.pnews_menu
{
	background: #f8f8f8;
}
.pnews_menu_title
{
	background: #ce3f3c;
    line-height: 102px;
}

.pnews_menu_title h3 {
    padding-left: 30px;
    line-height: normal;
    color: #fff;
    font-size: 20px;
    height: 102px;
    margin: 0;
    line-height: 102px;
}
.pnews_menu_content
{

}

.pnews_menu_content ul li {
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
.pnews_menu_content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
    margin:0;
}
.pnews_menu_content li
{
	list-style: none;
}

.pnews_menu_content ul li a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 30px;
    line-height: normal;
    color: #4d4d4d;
    font-size: 16px;
    *zoom: 1;
}
.pnews_menu_content ul li:hover a
{
	background: #FFF;
	color:#ce3f3c;
}

.pnews_right
{
	float: right;
	display: inline-block;
	padding: 35px 0 65px;
	width: 880px;
}
.pnews_content_title h2
{
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	line-height: 44px;
	color: #000;
	border-bottom: 1px solid #ececec;

}
.pnews_content_title
{
	/*border-bottom: 1px solid #ececec;*/
	margin-bottom: 30px;
}
.pnews_row ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
    margin: 0px;
}

.pnews_row li
{
	list-style: none;
	padding: 8px 0;
	border-bottom: 1px dashed #999;
}

.pnews_row li span
{
	color: #999;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    display: none;
}
.pnews_row li a
{
	color: #999;
    padding-left: 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 20px;
}

.pnews_c h3
{
	text-align: center;
    font-weight: normal;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}
.pnews_c p
{
	font-size: 16px;
    color: #333;
    line-height: 28px;
    text-indent: 2em;
    margin-bottom: 8px;
}
.pnews_c p span
{
	font-size: 14px;
}
.pnews_c .p_center
{
	text-align: center;
}
.pnews_c p img
{
	width: 726px; height: 780px;
	text-align: center;
}
.pnews_c i
{
	color: #FF0000;
	font-style: normal;
	font-size: 16px;
}