ul,li
{
	list-style: none;
}
.pxwzx_center
{
	margin: auto;
	width: 1200px;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px; 
}
.pxwzx_t_left
{
	float: left;
	width: 15%;
	background-color: #eaeaea; 
	color: #666666;
}
.pxwzx_t_left li
{
	width: 100%;
}

.pxwzx_t_right
{
	width: 85%;
	padding: 0px 20px; 
	min-height: 300px;
	float: left;
}
.pxwzx_t_left ul
{
	padding: 0;
	margin:0;
}
.pxwzx_t_nav
{
	border-style: solid dashed dashed;
	border-color: #FFF transparent transparent;
	border-width: 8px;
	border-top-color: rgba(102,102,102,0.7); 
	/*margin-top:20px; */
	top: 7px;
	display: inline-block;
	position: relative;
	 -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

.pxwzx_t_li1
{
	font-size: 18px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	margin:0px;
	padding: 0px;
	position: relative;
}
.pxwzx_t_ul2
{
	width: 100%;
}

.pxwzx_t_ul2 li
{
	font-size: 16px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	width: 100%;
	margin:0px 0px;
	padding: 0px 0px;
	padding-left: 0px; 
	/*margin-left: 36px; */

}

.pxwzx_t_ul2 li a
{

	/*padding: 0 20px; */
	padding-right: 40px; 

}

.pxwzx_t_ul2 a:hover
{
	/*color: #A80000;*/
	color: #444;
}

.pxwzx_t_li1 ul
{
	display: none;
	/*visibility: hidden;
	opacity: 0;*/
	margin:0px;
	padding: 0px;
	 -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}


.pxwzx_t_left a
{
	text-decoration: none;
	outline: none;
	color: #666;
	list-style: none;
	height: 60px;
	line-height: 60px;
	width: 100%;
	display: block;
	user-select: none;
	padding: 0 10px; 
	/*border-bottom: 1px solid #fff; */
}
.pxwzx_t_li1>a:hover
{
	background-color: #CCCCCC80; 
	/*background-color: #A80000;*/
	/*color: #FFF;*/
}
.pxwzx_t_li1_o ul
{
	display: block;
	/*visibility: visible;
	opacity: 1;*/
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
    background-color: #AAAAAA80;
}
.pxwzx_t_li1_o>a .pxwzx_t_nav
{
	top: -3px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #666666B2;
}
/*.pxwzx_t_li1_o>a
{
	background-color: #aaaaaa80; 
	color: #444;
}*/

.pxwzx_t_bar
{
	position: relative;
	float: left;
	height: 0px;
	opacity: 0;
	/*top: -40px;*/
	margin-top:120px; 
	width: 0px;
	background-color: #A80000; 
	z-index: 1000;
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

.pxwzx_t_li1:hover .pxwzx_t_bar
{
	
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;

}
.pxwzx_t_li2_click
{
	background: #A80000;
	color: #FFF;
}
.pxwzx_t_li2_click a
{
	color: #FFF;
}
.pxwzx_t_li2_click a:hover
{
	color: #FFF;
}

.pxwzx_t_r_title
{
	border-bottom: 1px dotted #aaa;
	text-align: center;
}

.pxwzx_t_r_title span
{
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	color: #222;
	line-height: 65px;
	margin-bottom: 18px;
	width: 100%;
}
.pxwzx_t_r_content p
{
	line-height: 1.5em;
	font-size: 16px;
	text-align: left;
	color: #666;
	margin: 5px 0; 

}
.pxwzx_t_r_cp2 
{
	text-indent: 32px;
}