.pz_gb_content,.pz_fw_content,.pz_rz_hc_content,.pz_fw_lc_content,.pz_what_content,.pz_lc_n_content
{
	margin: 50px auto;
	text-align: center;
}
.pz_fw_cont
{
	border: 3px solid #0676b6;
	height: 347px;
	width: 1180px;
	margin: 20px auto;
}

.fw_left
{
	float: left;
	width: 22%;
	background: #0676b6;
	display: inline;
	height: 100%;
}
.fw_left_img
{
	display: block;
	width: 137px;
	height: 137px;
	margin: 50px auto 18px;
}
.fw_left_text
{
	margin: 0 auto;
	line-height: 42px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	width: 130px;
}
.fw_center
{
	margin: 32px 0 0 34px;
	max-width: 610px;
	text-align: left;
	float: left;
	width: 58%;
}
.fw_c_item
{
	display: inline-block;
	margin-right: 10px;
	width: 137px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: #fff;
	background: url(./../images/zscq/fw2.png) center no-repeat;
	font-size: 18px;
}
.fw_c_i2
{
	color: #919191;
	font-size: 18px;
}
.fw_c_list
{
	display: inline-block;
	width: 450px;
	vertical-align: -117px;
}
.fw_c_desc
{
	margin: 25px 0 10px;
}
.fw_c_i3
{
	display: inline-block;
	margin-bottom: 15px;
	width: 220px;
	font-size: 16px;
	color: #575757;
}
.fw_c_i_em
{
	display: inline-block;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	background: #a6a2a2;
}
.fw_right
{
	float: left;
	padding-left: 31px ;
	height: 280px;
	
	margin-top:  34px;
	border-left: 1px solid #e5e4e3;
	

}
.fw_r_bt
{
	width: 212px;
	height: 60px;
	font-size: 24px;
	color: #fff;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
	background: #ff733c;
	margin-top: 105px;
	cursor: pointer;
	
}
.pz_fw_lc_cont
{
	margin: 30px auto;
	height: 360px;
	width: 1200px;
}
.fw_p_item
{
	float: left;
	width: 33.3%;
	text-align: center;
	margin: 20px 0;
}
.fw_p_i_img
{
	display: block;
	margin: 20px auto;
}
.fw_p_i_line
{
	width: 40px;
	height: 3px;
	background-color: #049ad9;
	margin: 10px auto;
}
.fw_p_i_t1
{
	font-size: 16px;
	color: #666;
	line-height: 1em;
	text-align: center;
}
.fw_p_i_t2
{
	font-size: 14px;
	color: #999;
	line-height: 1em;
	text-align: center;
}
.pz_what_cont
{
	margin: 57px auto 0 auto;
    overflow: hidden;
    width: 1200px;
    height: 422px;
    text-align: left;
    background: url(./../images/zscq/what_bg.png) no-repeat center;
}
.pz_what_cont_l
{
	width: 440px;
    height: 280px;
    float: left;
    margin: 64px 20px 0 97px;
    overflow: hidden;
}
.pz_what_cont_l h3
{
	width: 100%;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}
.pz_what_cont_l p
{
	margin-top:0px;
	width: 100%;
    line-height: 40px;
    font-size: 15px;
    color: #333333;
}
.pz_lc_n_cont
{
	overflow: hidden;
    width: 100%;
    height: 570px;
    margin: auto;
    background: url(./../images/zscq/gblc.jpg) no-repeat center;
}
.pz_lc_hc
{
    width: 1200px;
    margin: auto;

    height: 566px;
    padding: 14px 0px 20px 0px;
    padding-left: 525px;
	background: url(./../images/zscq/gbhc_what.png) no-repeat center;
}
.pz_lc_hc_item
{
    height: 72px;
    overflow: hidden;
    clear: both;
    color: #fff;
    margin-bottom: 44px; 
}
.pz_lc_hc_item span
{
	float: left;
    width: 100px;
    font-size: 34px;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
}
.pz_lc_hc_item p
{
	text-align: left;
	float: right;
    width: 470px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 25px;
}
.pzscq_fw
{
	text-align: center;
	margin-top: 50px;
	height: 500px;
}

.pzscq_fw_item
{
	width: 300px;
	height: 190px;
	text-align: left;
	margin-left: 20px;
	/*box-shadow:1px 1px 1px 1px #ECECEC;*/
	transition: .5s;
	cursor: pointer;
	padding-top: 30px;
	padding-left: 30px; 
	border: 2px solid #ffffff;
	border-top: 2px solid #4aBF9F;
	border-right: 2px solid #4aBF9F;
	background: #ffffff;
	position: relative;
	display: inline-block;
	/*box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 1)*/

}




.p_f_item_title1
{
	font-size: 24px;
	color: #444444;
	height: 40px;
}
.p_f_item_title2
{
	font-size:14px;
	margin-top: 10px;
	color: #999999;
	height: 36px;
	width: 230px;
	/*background: #FF0000;*/
}
.p_f_item_title3
{
	font-size: 26px;
	color: #f52f3e;
	height: 32PX;
	margin-top:20px;

	/*font-weight: bold;*/

}



.pzscq_fw_item .overlay-bottom {
	position:absolute;
	left:-2px;
	bottom:-2px;
	width:0px;
	height:2px;
	background-color:#4aBF9F;

}
.pzscq_fw_item .overlay-left {
	position:absolute;
	left:-2px;
	top:-2px;
	width:2px;
	height:0px;
	background-color:#4aBF9F;
}
.pzscq_fw_item .overlay-top {
	position:absolute;
	right:-2px;
	top:-2px;
	width:300px;
	height:2px;
	background-color:#FFF;
}
.pzscq_fw_item .overlay-right {
	position:absolute;
	right:-2px;
	bottom:-2px;
	width:2px;
	height:190px;
	background-color:#FFF;
}

.pzscq_fw_content
{
	margin-top:20px;
	padding-top:50px;
	padding-bottom: 50px;  
	margin-bottom: 20px;
	background: #f6fbfe;


}
.pzscq_sq_content
{
	margin: auto;
	width: 1062px;
	left: 0;
	right: 0;
	top: -60px;
	position: absolute;

}
.pzscq_sq .p_sq_title
{
	line-height: 60px;
    font-size: 26px;
    background-color: #eee;
    text-align: center;
}
.p_g_sq_item,.p_q_sq_item
{
	width: 247px;
	float: left;
	text-align: center;
	height: 240px;
	position: relative;
	background: #fff;
}
.p_g_sq_item img
{
	margin-top: 55px;
	margin-bottom: 30px;
}
.p_g_sq_item0
{
	margin-top:90px;
	width: 1px;
	height: 57px;
	background-color:  #959595; 
	float: left;
}
.p_q_sq_item0
{
	position: absolute;
	top:115px;
	left: 95px;
	width: 57px;
    height: 1px;
    background-color: #959595;
}
.p_q_sq_item_s
{
	height: 96px;
}
.p_q_sq_item_s img
{
	margin-top:30px;
}
.p_g_sq_item span,.p_q_sq_item span
{
	display: block;
	color: #626262;
}

.pzscq_sq_gr,.pzscq_sq_qy
{
	float: left;
	width: 495px;
	margin: auto;
	margin-left: 18px;
	margin-right: 18px;

	background: #fff; 
}

.pzscq_sq
{
	background: url(./../images/zscq/sq_bk.png) no-repeat center;
	height: 300px;
	position: relative;
	margin-top:90px;
}
.pzscq_sq_lc
{
	background: url(./../images/zscq/sq_lc.png) no-repeat center;
	height: 520px;
	position: relative;
	margin-top:20px;
	margin-bottom:50px;
}

.zscq_zyx_title
{
	text-align: center;

}
.zscq_zyx_title h3
{
	padding: 0;
	margin:0 0;
	text-align: center;
    font-size: 50px;
    color: #333333;
    height: 67px;
    line-height: 67px;
    margin-top: 60px;
    font-weight: normal;

}
.zscq_zyx_title h3 font
{
	font-weight: bold;
}
.zscq_zyx_title h3 span
{

}
.zscq_zyx_title h4
{
	margin:0; 
	text-align: center;
    font-size: 14px;
    color: #b7b7b7;
    height: 27px;
    line-height: 27px;
    font-family: "Arial";
    text-transform: uppercase;
}
.zscq_zyx_title img
{
	height: 37px;
	margin-top: 12px;
}
.zscq_zyx_content
{
	width: 1200px;
	margin:auto;
	height: 470px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.zscq_zyx_content .z_z_c_left
{
	width: 600px;
	float: left;
}
.z_z_c_left img
{
	margin-top: 55px;
} 
.zscq_zyx_content .z_z_c_right
{
	float: left;
	width: 600px;
}
.z_c_right_item
{
	border-bottom: 1px dashed #D0D0D0;
}
.z_c_right_item h3
{
	margin:0; 
	font-size: 18px;
    font-weight: bold;
    color: #333333;
    height: 50px;
}
.z_c_right_item h3 font
{
	font-size: 40px;
}
.z_c_right_item p
{
	font-size: 14px;
    color: #888888;
    line-height: 22px;
}

.zscq_sb_byx
{
	background: url(./../images/zscq/sbfw/sb01.jpg) no-repeat center;
	height: 520px;
	position: relative;
	margin-top:20px;
	margin-bottom:50px;
}

.zscq_sb_fw
{
	width: 1200px;
	margin:auto;
}
.zscq_sb_fw_title
{
	border-left: 4px solid #ff4949;
	height: 56px;
	position: relative;
}
.zscq_sb_fw_title h2
{
	position: absolute;
	margin:0;
	padding: 0;
	left:10px;
	top:-8px; 
	font-size: 28px;
}
.zscq_sb_fw_title p
{
	position: absolute;
	top:22px;
	left:10px; 
	color: #999999;
}
.zscq_sb_fw_content
{
	margin-top:50px; 
}
.z_s_f_c_item
{
	text-align: center;
    width: 222px;
    height: 224px;
    box-sizing: border-box;
    border: 1px solid #CCCBCB;
    margin-right: 22.5px;
    margin-bottom: 22.5px;
    float: left;
}
.z_s_f_c_item:hover
{
	border:1px solid #ff4949;

}
.z_s_f_c_item_zx
{
	height: 38px;
    border-radius: 20px;
    line-height: 38px;
    font-size: 16px!important;
    padding: 0 30px;
    border: 1px solid #FF4949;
    color: #FF4949;
    display: inline-block;
}
.z_s_f_c_item_zx:hover
{
	color: #FFFFFF;background: #FF4949;
}
.zscq_sb_zclc
{
	clear: both;
	width: 1200px;
	margin: auto;
	margin-top:50px;
}
.zscq_sb_ask
{
	background: #e5f9ff;
    padding: 80px 0;
    text-align: center;
}
.zscq_sb_ask_title h2
{
	margin-bottom: 46px;
    font-size: 36px;
    color: #323232;
    text-align: center
}
.zscq_sb_ask_content
{
	background: url(./../images/zscq/sbfw/ask_bk.png) no-repeat center;
	width: 1067px;
    height: 769px;
    margin: 0 auto;
    position: relative;
}
.zscq_sb_ask_content div
{
	position: absolute;
	color: #646464;
}

.sb_ask_load
{
	position: absolute;
    left: 40px;
    padding-top: 25px;
    width: 328px;
    height: 205px;
    background: url(./../images/zscq/sbfw/ask_load_bk.png) no-repeat 0 0;
    text-align: center;
}
.sb_ask_load h3
{
	padding: 0;
	margin-top:0px;
	font-size: 22px;
    color: #2d2d2d;
}
.sb_ask_load p
{
	font-size: 16px;
    color: #4f4f4f;
}
.sb_ask_load_bt
{
	margin: 15px auto 0;
    display: block;
    width: 216px;
    height: 43px;
    overflow: hidden;
    background: url(./../images/zscq/sbfw/ask_load_bt.png) no-repeat 0 0;
    text-indent: -9999em;
}

.sb_ask_01
{
	left: 775px;
    top: 480px;
}

.sb_ask_01 a
{
	
    font-size: 22px;
    color: #4c4c4c;
}
.zscq_sb_ask_content em
{
	color: #fe5840;
	font-style: normal;
    font-weight: normal;
}
.sb_ask_02
{
	position: absolute;
	left: 753px;
    top: 173px;
    font-size: 22px;
}
.sb_ask_03
{
	left: 170px;
    top: 464px;
    font-size: 20px;
}
.sb_ask_04
{
	left: 456px;
    top: 671px;
    font-size: 16px;
}
.sb_ask_05
{
	left: 575px;
    top: 55px;
    font-size: 18px;
}
.sb_ask_06
{
	    left: 937px;
    top: 368px;
    font-size: 15px;
}
.sb_ask_07
{
	    left: 261px;
    top: 641px;
    font-size: 20px;
}
.sb_ask_08
{
	left: 8px;
    top: 383px;
    font-size: 14px;
}
.sb_ask_09
{
	    left: 191px;
    top: 279px;
    font-size: 15px;
}
.sb_ask_10
{
	    left: 654px;
    top: 631px;
    font-size: 12px;
}
.zscq_sb_zcjz
{
	margin:auto;
	width: 1200px;
}
.zscq_bq_why_bg
{
	clear: both;
}

.zscq_bq_why_bg_title
{
	width: 1200px;
	color: #2ea9ff;
	font-size: 36px;
    font-weight: bolder;
    text-align: center;
    line-height: 130px;
    font-style: italic;
    margin:auto;
}

.zscq_bq_why_bg_content
{
	margin:auto;
	width: 1240px;
	height: 200px;
}

.z_b_w_b_c_item{width: 280px;height: 185px;margin: 0 15px;box-shadow: 5px 5px 10px #d3d3d3;background: url(./../images/zscq/bqfw/why_lanse.png)top center no-repeat;float: left;background-position-y: -125px;transition: all .5s}
.z_b_w_b_c_item h1{text-align: center;color: #fff;font-size: 24px;line-height: 60px;font-weight: bold;padding: 0px;margin: 0px}
.z_b_w_b_c_item h1 span{font-size: 28px;padding-right: 5px;}
.z_b_w_b_c_item p{font-size: 16px;color: #6b6b6b;line-height: 26px;padding: 25px 30px 0;transition: all .3s}
.z_b_w_b_c_item:hover{background-position-y: 0px;}
.z_b_w_b_c_item:hover p{color: #fff}

.zscq_bq_qy_title
{

}
.zscq_bq_qy_title
{
	width: 100%;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    color: #222;
    text-align: center;
}
.zscq_bq_qy_title span
{
	display: block;
    width: 40px;
    height: 5px;
    margin: 6px auto 0;
    background: #0051d8;
}
.zscq_bq_qy_title p
{
	margin-top: 20px;
    font-size: 21px;
    color: #555;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}
.zscq_bq_qy_content
{
	margin: auto;
	text-align: center;
}

.zscq_bq_sq_title h3
{
	text-align: center;
    font-size: 50px;
    color: #333333;
    height: 67px;
    line-height: 67px;
    margin-top: 32px;
    font-weight: normal;
}
.zscq_bq_sq_title h3 font{font-weight: bold;}
.zscq_bq_sq_sel
{
	width: 458px;
	margin: auto;
	height: 50px;
}
.sel_item
{
	display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 219px;
    height: 43px;
    line-height: 43px;
    border-radius: 5px;
    background: #D6D6D6;
    font-size: 16px;
    color: #333333;
    margin: 0 2px;
    cursor: pointer;
    float: left;
    text-align: center;

}
.zscq_bq_sq_sel div.active
{
	background: linear-gradient(#F2A204, #DD3718);
    color: #fff;
}
.zscq_bq_sq_content
{
	clear: both;
	width: 1236px;
	margin: auto;
	margin-top:24px;
}
.z_b_s_c_item
{
	width: 190px;height: 263px;
	margin:0 6px;
	border:1px solid #CCCCCC;
	border-radius: 10px;
	background: #fff;
	display: inline-block;
	*display:inline;
	*zoom: 1;
	overflow: hidden;
	text-align: center;
}
.z_b_s_c_item:hover
{
	border:1px solid #fff;box-shadow:0 0 24px -2px #333;
}
.z_b_s_c_item img
{
	text-align: center;
	margin-top: 50px; 
}

.z_b_s_c_item span
{
	width: 170px;
    height: 68px;
    line-height: 68px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  	display: block;
}